<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{!-- favicon  --}}
	<link rel="fluid-icon" href="./images/fluidicon.png" title="ICON">
	<title>gValenzuela</title>
	<!-- font-Awesome  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- foundation-Sites  -->
	<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.css">
	{{!-- google fonts  --}}
	<link
		href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Poiret+One&family=Roboto&family=Special+Elite&display=swap"
		rel="stylesheet">
	<!-- own CSS  -->
	<link rel="stylesheet" href="./css/main-style.css">
	<link rel="stylesheet" href="./css/portfolio.css">
	<link rel="stylesheet" href="./css/app.css">
	<link rel="stylesheet" href="./css/app-form-overlay.css">
</head>

<body class="bg-subtlenet">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
	<!-- own JS  -->
	<script>
		$(document).foundation();
	</script>

	<div class="callout callout-index" id="callout">
		<!-- Start Top Bar -->
		<div class="top-bar-custom">
			<div class="top-bar-left">
				<ul class="menu top-bar-menu">
					<li><a href="/#main-mane">Home</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- End Top Bar -->
		<div class="row column text-center top-bar-content" style="padding-bottom: 1.5em;">
			<p class="header-index" id="header">Gus Valenzuela</p>
			<p class="subheader-index" id="subheader">A responsive web developer for the modern world.</p>
		</div>
	</div>



	<main id="main-mane">
		{{{body}}}

	</main>

	<footer class="footer">
		<div class="footer-left">
			2020 &copy; gr\^_^/
		</div>
		<div class="footer-icons">
			<ul class="menu simple">
				<li><a href="https://github.com/gusvalenzuela" target="_blank"><i class="fa fa-github"
							aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/in/gus-valenzuela-b73b0296/" target="_blank"><i
							class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				<li><a href="#target-1" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#target-1" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
				<li><a href="#target-1" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li></li>
			</ul>
		</div>
	<script src="./js/index.js"></script>
</body>

</html>