<!-- Main middle content -->
<div class="yes content-wrap">

  <!-- top  row -->
  <div class="row intro-para-row">
    <div class="columns medium-10 large-8 medium-centered">
      <header class="welcome-header">Welcome to my site.</header>
      <img src="./images/profilephoto3.jpg" alt="Profile Photo" class="profile-photo">
      <p style="text-align: justify;">
        In the <a href="/portfolio" class="text-link">portfolio</a>
        page of this website you will find projects I have created or worked on. In the <a href="/contact"
          class="text-link">contact</a> page you'll find a form you may use to contact me. (🚧 "under construction" 🚧)
      </p>
    </div>
  </div>
  {{!-- second row  --}}
  <div class="row">
    <div class="columns medium-10 medium-centered" id="about-me">
      <p>
        &Tab; Since an adolescent, I have been fascinated with technology, computers, and the world wide web. I made
        static webpages in my youth and even got to deploy some flash-centric wonders. Over the years my love of
        technology and computers only grew more powerful; occassionally doing activites on FreeCodeCamp and taking
        computer science courses at the local community college.
        Most recently I have been attending a Coding Bootcamp, by Trilogy/UC Davis Continuing Education, on the path to
        becoming a full stack web developer. I hope to continue to grow as a web developer and as a person.</p>
      <p>
        &Tab; Please take a look around at my portfolio and if maybe you like what you see, shoot me an email. Hope to
        hear from you! Have a wonderful day =]
      </p>

      {{!-- <div class="callout text-center" id="mini-callout-index">
      </div> --}}
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-centered" id="quotebox">


      <div class="index-quoteblock-vertical">
        <div class="index-quoteblock-vertical-quote">
          <p>"And remember, the world is possibility if only you'll discover it." </p>
        </div>
        <div class="index-quoteblock-vertical-person">
          <img class="index-quoteblock-vertical-avatar" src="./images/ellison-avatar.jpg" alt="" />
          <div>
            <p class="index-quoteblock-vertical-name">Ralph Ellison</p>
            <p class="index-quoteblock-vertical-info">Invisible Man</p>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row small-up-1 medium-up-3" id="index-last-row">
    <div class="column column-block">
      <i class="fa fa-handshake-o"></i>
      <h4>Experience and Realibility</h4>
      <p>Being experienced and reliable is like being a calculator; You can count on that. </p>
    </div>
    <div class="column column-block">
      <hr>
      <i class="fa fa-line-chart"></i>
      <h4>Personal Growth</h4>
      <p>From simple static text-based sites to pages with complex animation, flash, and embedded videos to now
        HTML5, Javascript, databases, and beyond. I decided to learn how to code in order to deploy websites myself and
        possibly
        others as a career. See my growth as web developer throughout this website.</p>
    </div>
    <div class="column column-block">
      <hr>
      <i class="fa fa-unlock"></i>
      <h4>Section 3</h4>
      <p>There is a section 3 and this is its body of text?</p>
    </div>
  </div>
</div>

<script>
  $(document).on(`ready`, () => {
    $(`#subheader`).attr(`class`, `subheader-index`)
    $(`#header`).attr(`class`, `header-index`)
  })

</script>