<div class="content-wrap">
    <div class="row projects-container">
        {{!-- contact information card  --}}
        <div class="columns small-12 medium-4">
            <div class="information-container">
                <a class="" href="./GustavoValenzuela_resume-2020.pdf" target="_blank">
                    <span class="fa fa-file-pdf-o"></span> Resume
                </a><br>
                <a class="" href="https://github.com/gusvalenzuela" target="_blank">
                    <span class="fa fa-github"></span> GitHub Profile
                </a><br>
                <a class="" href="https://www.linkedin.com/in/gus-valenzuela-b73b0296/" target="_blank">
                    <span class="fa fa-linkedin"></span> LinkedIn Profile
                </a><br>
                <a class="" href="mailto:gusrvalenzuela@gmail.com" target="_blank">
                    <span class="fa fa-envelope-o"></span> gusrvalenzuela@gmail.com
                </a><br>
                <a class="" href="tel:+1-714-742-7119" target="_blank">
                    <span class="fa fa-phone"></span> 714.742.7119
                </a>
            </div>
        </div>
    </div>
</div>

<script src="./js/loadProjects.js">   </script>