<div class="content-wrap">

    <div class="row">
        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/artgarden-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">NodeJS, Handlebars, mySQL, CSS</p>
                    <h5 class="article-title">artGarden</h5>
                    <p class="article-desc">A site where users can make requests for artworks to be made ("contracts")
                        and artists (other users) can make a proposal to fulfill that request.</p>
                </div>
                <div class="card-divider">
                    <a href="" class="links">open</a>
                    <i> | </i>
                    <a href="" class="links">see repo</a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/quizdown-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">QuizDown⁉</h5>
                    <p class="article-desc">A timed quiz game with multiple quizzes to choose from</p>
                </div>
                <div class="card-divider">
                    <a href="" class="links">open</a>
                    <i> | </i>
                    <a href="" class="links">see repo</a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/gooder-burger-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">NodeJS, Handlebars, mySQL, CSS</p>
                    <h5 class="article-title">Gooder Burger</h5>
                    <p class="article-desc">An app that dynamically uses Node.js (w/ Express & Handlebars) and mySQL to
                        virtually create burgers and move them from uneaten to eaten lists.</p>
                </div>
                <div class="card-divider">
                    <a href="" class="links">open</a>
                    <i> | </i>
                    <a href="" class="links">see repo</a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/password-gen-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">Password Generator</h5>
                    <p class="article-desc">A timed quiz game with multiple quizzes to choose from</p>
                </div>
                <div class="card-divider">
                    <a href="" class="links">open</a>
                    <i> | </i>
                    <a href="" class="links">see repo</a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/quizdown-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">QuizDown⁉</h5>
                    <p class="article-desc">A timed quiz game with multiple quizzes to choose from</p>
                </div>
                <div class="card-divider">
                    <a href="" class="links">open</a>
                    <i> | </i>
                    <a href="" class="links">see repo</a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/quizdown-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">QuizDown⁉</h5>
                    <p class="article-desc">A timed quiz game with multiple quizzes to choose from</p>
                </div>
                <div class="card-divider">
                    <a href="" class="links">open</a>
                    <i> | </i>
                    <a href="" class="links">see repo</a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on(`ready`, () => {
        $(`#subheader`).attr(`class`, `subheader-other-pages`).text(`Portfolio`)
        $(`#header`).attr(`class`, `header-other-pages`).hide()
    })
</script>