<div class="content-wrap">

    <div class="row" style="margin-bottom: 7em;">
        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/artgarden-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">NodeJS, Handlebars, mySQL, CSS</p>
                    <h5 class="article-title">artGarden</h5>
                    <p class="article-desc">A site where users can make requests for artworks to be made ("contracts")
                        and artists (other users) can make a proposal to fulfill that request.</p>
                </div>
                <div class="card-divider">
                    <a href="https://artgarden.herokuapp.com/" class="links">open</a>
                    <b> • </b>
                    <a href="https://github.com/gusvalenzuela/art-garden-bc" class="links"><i
                            class="fa fa-github"></i></a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/quizdown-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">QuizDown⁉</h5>
                    <p class="article-desc">A timed quiz game with multiple quizzes to choose from</p>
                </div>
                <div class="card-divider">
                    <a href="https://gusvalenzuela.github.io/quiz-game/" class="links">open</a>
                    <b> • </b>
                    <a href="https://github.com/gusvalenzuela/quiz-game" class="links"><i class="fa fa-github"></i></a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/gooder-burger-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">NodeJS, Handlebars, mySQL, CSS</p>
                    <h5 class="article-title">Gooder Burger</h5>
                    <p class="article-desc">An app that dynamically uses Node.js (w/ Express & Handlebars) and mySQL to
                        virtually create burgers and move them from uneaten to eaten lists.</p>
                </div>
                <div class="card-divider">
                    <a href="https://great-burger-app.herokuapp.com/" class="links">open</a>
                    <b> • </b>
                    <a href="https://github.com/gusvalenzuela/great-burger-tracker-app" class="links"><i
                            class="fa fa-github"></i></a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/password-gen-screen-1.png">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">Password Generator</h5>
                    <p class="article-desc">A timed quiz game with multiple quizzes to choose from</p>
                </div>
                <div class="card-divider">
                    <a href="https://gusvalenzuela.github.io/pswd-generator/" class="links">open</a>
                    <b> • </b>
                    <a href="https://github.com/gusvalenzuela/pswd-generator" class="links"><i
                            class="fa fa-github"></i></a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        {{!-- NEW PROJECT!!!  --}}
        <div class="columns small-12 medium-4">
            <div class="card-article-hover card">
                <a href="">
                    {{!-- 600 x 400 ish --}}
                    <img src="./images/hh-groceries-unsplash.jpg">
                </a>
                <div class="card-section">
                    <p class="meta-data article-subtext">JS, HTML, CSS</p>
                    <h5 class="article-title">Hungry Hip-Po's</h5>
                    <p class="article-desc">A grocery list builder from recipe search. Search by cuisine, ingredient, or
                        meal.</p>
                </div>
                <div class="card-divider">
                    <a href="https://gusvalenzuela.github.io/Hungry-Hippos-GRV/" class="links">open</a>
                    <b> • </b>
                    <a href="https://github.com/gusvalenzuela/Hungry-Hippos-GRV" class="links"><i
                            class="fa fa-github"></i></a>
                </div>
                <div class="hover-border">
                </div>
            </div>
        </div>

        <div class="columns small-12 medium-4">

            <div class="information-container">
                <a class=""
                    href="./GustavoValenzuela_resume-2020.pdf"
                    target="_blank">
                    <span class="fa fa-file-pdf-o"></span> Resume
                </a><br>
                <a class="" href="https://github.com/gusvalenzuela" target="_blank">
                    <span class="fa fa-github"></span> GitHub Profile
                </a><br>
                <a class="" href="https://www.linkedin.com/in/gus-valenzuela-b73b0296/" target="_blank">
                    <span class="fa fa-linkedin"></span> LinkedIn Profile
                </a><br>
                <a class="" href="mailto:gusrvalenzuela@gmail.com" target="_blank">
                    <span class="fa fa-envelope-o"></span> gusrvalenzuela@gmail.com
                </a><br>
                <a class="" href="tel:+1-714-742-7119" target="_blank">
                    <span class="fa fa-phone"></span> 714.742.7119
                </a>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).on(`ready`, () => {
        $(`#subheader`).attr(`class`, `subheader-other-pages`).text(`Portfolio`)
        $(`#header`).attr(`class`, `header-other-pages`).hide()
    })
</script>